<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                {% include navbar.html %}
            </div>
            <div class="column">
            {{ content }}
            </div>
        </div>
    </div>
    <script src="/assets/js/all_is_here.js"></script>
</body>
</html>